.container
{
    background-color: var(--five);
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-radius: .75em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.project_image, .tec_icon
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_image
{
    width: 100%;
    height: 300px;
    border-radius: .75em;
}

.project_name
{
    font-size: 2rem;
}

.project_description
{
    font-size: 1.15rem;
    line-height: 1.2em;
}

.tec_container
{
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.tec_icon
{
    width: 3rem;
    height: 3rem;
}




